body{
    background-color: black;
    color: lightgray;
    font-size: 24px;
    font-family: "DM mono";
}
#container{
    width: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#keyboard{
    width: 100%;
    flex: 24;
    display: flex;
}
#board{
    flex: 1;
    width: 99%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 48px;
    min-height: 50px;
}
#gallows{
    flex: 4;
    min-height: 280px;
}
#gallows img{
    width: 100%;
}
#alphabet{
    flex: 5;
    display: flex;
}
#letters{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-top: 60px;
}
.letter{
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    padding: 5px;
    margin: 5px;
    border: 2px solid gray;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;
}
.letter:hover{
    background-color: #161616;
    border-color: lightgray;
    box-shadow: 0px 0px 4px white;
    transition: 0.4s;
}
#again{
    color: rgb(33, 180, 20);
    text-decoration: none;
    cursor: pointer;
}
#again:hover{
    text-shadow: 0px 0px 20px rgb(77, 250, 198);
    color: rgba(0, 255, 0, 0.575);
}
#retry{
    color: rgb(228, 46, 0);
    text-decoration: none;
    cursor: pointer;
}
#retry:hover{
    text-shadow: 0px 0px 20px rgb(253, 16, 8);
    color: rgba(255, 51, 0, 0.575);
}