body{
    background-color: black;
    color: lightgray;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container{
    width: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#keyboard{
    width: 100%;
    flex: 24;
    display: flex;
}
#board{
    flex: 1;
    width: 99%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 48px;
    min-height: 50px;
}
#gallows{
    flex: 4;
    min-height: 280px;
}
#gallows img{
    width: 100%;
}
#alphabet{
    flex: 5;
    display: flex;
}
#letters{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-top: 60px;
}
.letter{
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 24px;
    padding: 5px;
    margin: 5px;
    border: 2px solid gray;
    border-radius: 15px;
    cursor: pointer;
}